
<div id="classified">
  <div class="row">
    <ul>
      <h1>Classifieds</h1>
      <button type="button" class="btn btn-large" data-toggle="modal" data-target="#myModal">Create a New Classified Ad</button>
    </ul>
  </div>
  <div class="row">
    <ul>
      {{#each classified}}
        {{#unless this.sold}}
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="panel-title"><strong>{{this.itemtitle}}</strong></h2>  <h4>Posted By: {{this.user}} At {{this.createdAt}}</h4>
          </div>
          <div class="panel-body">
            <p>{{this.saleitem}}</p>
            <p>Price is: ${{this.price}}</p>
            {{#if this.itempicturelink}}
                <img src="http://jandmtravels.com/schoolimages/{{this.itempicturelink}}" alt="{{this.itemtitle}}" width="400" height="200">
            {{/if}} 
            {{#if this.user}}
              <form class="create-update-form" action="/api/solditem" method="POST">
                <div class="form-group">
                  <input type="hidden" name="itemid" value={{this.id}}>
                </div>
                <button class="btn btn-large" type="submit">Mark as Sold</button>
              </form>
            {{/if}} 
          </div>
          <div class='panel-footer'>
            <form class="create-update-form" action="/makeoffer" method="POST">
              <h4>Email Seller</h4>
              <div class="form-group">
                <label for="bcomment">Note to Seller</label>
                <input type="text" id="bcomment" name="comment">
                <label for="bemail">Your Email Address</label>
                <input type="text" id="bemail" name="email">
                <input type="hidden" name="itemforsale" value={{this.itemtitle}}>
                <input type="hidden" name="price" value={{this.price}}>
              </div>
              <button class="btn btn-large" type="submit">Submit and Email</button>
            </form>
          </div>
        </div>
        {{/unless}}
      {{/each}}
    </ul>
  </div>


  {{!-- Modal for New Classifieds Post --}}
  <div class="theModal">
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog modal-lg">
      
        <!-- Modal content-->
        <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Create a Classified Ad</h4>
          </div>


          <div class="modal-body">
            <form class="create-update-form" action="/classifieds" method="POST">
              {{!--Item Title--}}
              
              <div class="form-group">
                <label class="control-label" for="btitle">Item Title</label>
                <input type="textinput" id="btitle" name="itemtitle" class="form-control input-md">
              </div>

              {{!--Item Description--}}
              <div class="form-group">
                <label class="control-label" for="bdesc">Item Description</label>
                <textarea class="form-control" name='saleitem' rows='5' id='bdesc'></textarea>
              </div> 

              <div class="form-group">
              <label class="control-label" for="bprice">Price</label>
                <input type="text" id="bprice" name="price" class="form-control input-md">
              </div>

              <button class="btn btn-large" type="submit">Submit Ad</button>
            </form>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>

        </div>
        
      </div>
    </div>
    
  </div>

</div>



