<h1>Profile</h1>

<div id="profiledisplay">
      <h2>Your Profile</h2>
		
              		<div class="panel panel-default">
	                    <div class="panel-heading">
	                   			<h2 class="panel-title"><strong>{{profiles.user_name}}</strong></h2>     <h4>Signed Up On: {{profiles.createdAt}}</h4>
	                   	</div>

                   	<div class="panel-body">
	                   <p>Email Address: {{profiles.user_email}}</p>
	                   <p>Age: {{profiles.user_age}}</p>
	                   <p>Bio: {{profiles.user_bio}}</p>
   					</div>  
   					</div>    
</div>